<% if user_signed_in? %>

  <div class="row header-banner">
    <div class="container my-3">
      <p><%= link_to "Accueil", root_path %> > <%= link_to "Mon dossier", incident_path(@incident) %> > <strong>Recommandations</strong></p>
      <h1>Nos recommandations</h1>
    </div>
  </div>

<% else %>

<div class="row header-banner-form">
  <div class="container pt-3">
    <div class="row justify-content-center mt-3">
      <div class="stepper">
        <div class = "center-step active" >
          <p class="circle">1</p>
          <p class="step-title">Événement</p>
        </div>
        <div class = "center-step active">
          <p class="circle">2</p>
          <p class="step-title">Localisation</p>
        </div>
        <div class = "center-step active">
          <p class="circle">3</p>
          <p class="step-title">Recommandations</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="alert alert-warning alert-dismissible fade show w-100 m-0" role="alert">
  <div class="col-md-12 d-flex align-items-center">
    <p>Merci pour ce signalement.</p>
  </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
</div>

<div class="container">

  <div class="my-5 pl-4">
    <h4>Conseils utiles pour une <%=@incident.incident_category.name.downcase %> </h4>
    <% @recommendations.each do |recommendation| %>
      <div class="mt-3">
            <% if recommendation.is_an_action == false %>
        <h5 id="list-advice">
            <i class="fas fa-check tickable"></i>
              <%= link_to "#description#{recommendation.id}", class: "toggle" do %>
              <%= recommendation.title  %>
            <i class="fas fa-angle-down pl-1" id=<%= "arrow#{recommendation.id}" %>></i>
              <% end %>

          <% end %>
        </h5>
      </div>
      <div class="toggle-content" id=<%="description#{recommendation.id}" %>>
        <p> <%= recommendation.description %></p>
      </div>
    <% end %>
  </div>

</div>


<% if user_signed_in? %>

  <div class="d-flex justify-content-center p-3 mb-4">
    <%= link_to 'Retour au dossier', incident_path(current_user.incident), class: 'button-primary' %>
  </div>

<% else %>
  <div class="d-flex justify-content-center mb-5">
    <div class="file-banner mb-2">
      <div class="container container-actions py-2">
        <h4>break<strong>free</strong> peut vous aider à réaliser les actions suivantes</h4>
        <% @recommendations.each do |recommendation| %>
          <div class="mt-3">
            <% if recommendation.is_an_action == true %>
              <h5 id="list-advice-action">
                <i class="fas fa-check tickable"></i>
                  <%= link_to "#recommendation#{recommendation.id}", class: "toggle
                  " do %>
                  <%= recommendation.title  %>
                <i class="fas fa-angle-down pl-1" id=<%= "arrow#{recommendation.id}" %>></i>
               <% end %>
              <% end %>
            </h5>
          </div>
          <div class="toggle-content-action" id=<%="recommendation#{recommendation.id}" %>>
            <p> <%= recommendation.description %></p>
          </div>
        <% end %>
      </div>
      <div class="mb-0 mt-3">
        <%= link_to "Je crée un dossier", assign_user_incident_path(@incident), class: 'button-primary-action' %>
      </div>
    </div>
  </div>


<% end %>



