<div class="row header-banner">
  <div class="container my-3">
    <p><%= link_to "Accueil", root_path %> > <%= link_to "Mon dossier", incident_path(@incident) %> > <strong>Témoignage</strong></p>
    <h1>Votre témoignage détaillé</h1>
  </div>
</div>

<div class="container my-3">

  <div>
    <p>Consacrez quelques minutes pour compléter la description de votre événement. Cela permettra à votre témoignage détaillé d'être plus facilement pris en charge.</p>
  </div>
  <%if user_signed_in? %>
    <%= simple_form_for(@incident) do |f| %>

      <div class="form-group">
        <label>
          <h5> Racontez ici le détail de votre événement :</h5>
        </label>
        <%= f.input :description, label: false %>
      </div>

        <div class="form-group">
          <label>
            <h5>De potentiels témoins pourraient-ils appuyer votre témoignage?</h5>
          </label>
          <div>
            <div class="radio-item">
              <input type="radio"
                     id="witness_true"
                     name="incident[witness]"
                     value="true"
                     <% if @incident.witness %>
                       checked
                     <% end %>>
              <label for="witness_true">oui
              </label>
            </div>
            <div class="radio-item">
              <input type="radio"
                     id="witness_false"
                     name="incident[witness]"
                     value="false"
                     <% unless @incident.witness %>
                       checked
                     <% end %>>
              <label for="witness_false">non
              </label>
            </div>
          </div>
        </div>

      <div class="form-group">
        <label>
          <h5> Renseignez l'identité de l'auteur si vous la connaissez :</h5>
        </label>
        <%= f.input :offender, label: false %>
      </div>

      <div class="d-flex justify-content-center my-5">
        <%= button_tag(type: 'submit', class: 'button-primary') do %>
          Mettre à jour
        <% end %>
      </div>



    <button href="" id="record">Record</button>
    <button href="" id="stop" disabled>Stop</button>
    <a href="#" class="btn btn-primary" id="play" disabled>Play</a>
    <a href="#" id="save" disabled>Save</a>

    <div id="saved-audio-messages">
    </div>


    <% end %>





  <% else %>
    <div class="alert alert-warning position-static mt-5" role="alert">
       <h4 class="alert-heading">Il est nécessaire de se créer un compte pour poursuivre.</h4>
        <p>.</p>
        <hr>
        <p class="mb-0">Créez un compte pour déposer votre témoignage. A tout de suite pour continuer.</p>
    </div>
  <% end %>
</div>





