<div class="home-banner">
  <section id="section1">
    <div class="container mt-5">
        <h1>Je signale une agression
          <br>ou une situation de discrimination</h1>
        <h3>Réagissez face aux comportements
          <br> inappropriés.</h3>
    </div>

    <svg viewbox="0 0 100 25">
      <path fill="#F8F8F8" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z" />
      <path fill="#F8F8F8" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
    </svg>
  </section>
</div>

    <% if user_signed_in? %>

      <div class="home-signed-in">

        <% unless current_user.incident.nil? %>

          <div class="row justify-content-center">
            <h2>Vous avez déclaré un acte malveillant.</h2>
          </div>

          <div class="row justify-content-center my-5">
            <%= link_to "Votre dossier", incident_path(current_user.incident), class: 'button-primary' %>
          </div>

        <% end %>

      </div>

    <% else %>


    <div class="category-choices">

      <div class="container">

      <div class="home-launch-title">
        <h2 class="theme-title mt-3">Je suis ou j'ai été <strong>victime</strong> d'une</h2>
      </div>

      <div class="row my-1 mb-5">
        <% @incident_categories.each do |incident_category| %>
          <%= link_to incidents_path(author_is_victim: 'true', incident_category_id: incident_category.id), method: 'post' do  %>
            <div class="card-launch">
              <div class="label">
                <h4><%= incident_category.name %></h4>
                <p><%= incident_category.description %></p>
                <div class="show-signal button-primary mt-2 pt-2 w-50" id="button-dashboard-card">Je signale</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      </div>

    </div>
    <% end %>
</div>



<div class="explanations">

  <div class="row mt-5 justify-content-center">
    <h2><i class="fas fa-lightbulb"></i>  <strong> Pourquoi signaler ?</strong></h2>
  </div>

  <div class="row explanations-blocs">
<!--     <div class="col-md-4">
       <%= image_tag("blob-shape.svg", class: "img-medium") %>
   </div> -->
    <div class="col-md-8 d-flex align-items-center">
      <div class="first-title">
        <h3> Connaître les meilleurs réflexes <br> selon votre situation</h3>
        <h5>Nous vous apportons des conseils adaptés <br>à votre situation : faut-il que vous portiez plainte ? <br> comment mener les procédures en évitant <br> les mauvaises surprises ?
      </div>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <div class="second-title">
        <h3 > Constituez votre dossier complet<br> pour mieux gérer l'après</h3>
        <h5> Nous vous guidons dans la constitution de votre dossier <br> pour qu'il soit le plus complet possible, et vous <br> facilitez ainsi la vie dans les procédures <br> qui suivent votre agression.
      </div>
    </div>
<!--     <div class="col-md-4 second-form">
<%= image_tag("blob-shape-rose.svg", class: "img-medium") %>
    </div> -->

  </div>


</div>


<div class="row reinsurance-banner pt-5 mr-0">

  <div class="container d-flex justify-content-between my-5">

      <div class="feature mx-3">
        <i class="fas fa-user-lock pb-3" id="icon-reinsurance"></i>
        <h4>Sécurisé</h4>
        <p class="text-center">Les données que vous déposez sur breakfree sont protégées. Vous êtes le seul à pouvoir accéder à votre dossier.</p>
      </div>

      <div class="feature mx-3">
        <i class="fas fa-clock pb-3" id="icon-reinsurance"></i>
        <h4>Rapide</h4>
        <p class="text-center">Déposer un dossier prend moins de trois minutes. Partagez votre témoignage et passez à l'action.</p>
      </div>

      <div class="feature mx-3">
        <i class="fas fa-mask pb-3" id="icon-reinsurance"></i>
        <h4>Anonyme</h4>
        <p class="text-center">Votre témoignage est déposé de manière anonyme. Le respect de votre anonymat est essentiel.</p>
      </div>
  </div>
</div>

<div class="row stats mr-0">
  <div class="container my-5">
    <h2 class="text-white">Déjà plus de...</h2>
    <div class="d-flex justify-content-between my-5">
      <div class="stats-layer mx-3">
        <h4 id="number-acts"><strong><%= Incident.count %></strong></h4>
        <p>actes signalés</p>
      </div>
      <div class="stats-layer mx-3">
        <h4><strong><%= Incident.where(publication_agreement: true).count %></strong></h4>
        <p>actes géolocalisés</p>
      </div>
      <div class="stats-layer mx-3">
        <h4 id="number-files"><strong><%= Incident.where(user_id: (1..100).to_a).count %></strong></h4>
        <p>dossiers créés</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= link_to 'Voir plus', stats_path, class:"button-primary-2"  %>
    </div>
  </div>
</div>

        <% image_tag('Light-the-fire.svg', class: 'img-small') %>
