<div class="container">
  <div class="d-inline-flex"
    <p>Accueil > Dashboard > </p>
    <p class="font-weight-bold pl-1">Mes preuves</p>
  </div>
  <div class="manage_proofs">
    <h1>Ajout de preuves</h1>
    <p>Uploadez ici vos photos, vidéos et fichiers audio</p>
    <%= simple_form_for [@incident, @proof] do |f| %>
      <%= f.input :photo, label: 'Vos médias'%>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, 'Ajouter', class: "button-primary" %>
    <% end %>
  </div>
  <div class="manage_proofs">
    <h3>Gestion de vos preuves</h3>
    <% if @proofs.nil? %>
      <div class="proofs_container">
        <p>Uploadez un fichier pour compléter votre dossier </p>
      </div>
    <% else %>
      <div>
        <% @proofs.each do |proof| %>
          <div class="proofs_container">
            <div class="card-action">
            <%= proof.content_type %>
            <%= proof.original_filename %>
            <%= link_to "Supprimer", incident_proof_path(@incident, proof), method: :delete, class: 'btn btn-danger' %>
            </div>
          </div>
        <% end  %>
      </div>
    <% end %>
  </div>
</div>
