<div class="row header-banner">
  <div class="container my-3">
    <p><%= link_to "Accueil", root_path %> > <%= link_to "Mon dossier", incident_path(@incident) %> > <strong>Preuves</strong></p>
    <h1>Gestion des preuves</h1>
  </div>
</div>

<div class="container">
  <div class="manage_proofs pt-5">
    <h2>Ajout de preuves</h2>
    <p>Uploadez ici vos photos, vidéos et fichiers audio</p>
    <%= simple_form_for [@incident, @proof] do |f| %>
      <%= f.input :photo, label: 'Vos médias'%>
<!--       <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div> -->
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, 'Ajouter', class: "button-primary" %>
    <% end %>
  </div>
  <div class="manage_proofs">
    <h3>Gestion de vos preuves</h3>
    <% if @proofs.nil? %>
  </div>
      <div class="proofs_container">
        <p>Uploadez un fichier pour compléter votre dossier </p>
    <% else %>
      <div>
        <% @proofs.each do |proof| %>
          <% if proof.testimony_id.blank? == true %>
            <div class="proofs_container">
              <div class="card-action">
              <div class="action_text">
                <div class="text_name">

                </div>
                <div class="text_type">
                  <%= proof.content_type.split("/")[0] %>
                </div>
                <div class="text_filename">
                 <%= proof.original_filename %>
                </div>
              </div>
              <div class="action_download">
                <%= link_to "Télécharger", cl_image_path(proof.photo,:width=>200, :height=>250, :page=>1, :crop=>"fill"), target: "_blank", class: 'btn btn-success'%>
              </div>
              <div class="action_delete">
               <%= link_to "Supprimer", incident_proof_path(@incident, proof), method: :delete, class: 'btn btn-danger' %>
              </div>
             </div>
            </div>
          <% end %>
        <% end  %>
      </div>
          <h3>Preuves fournies par vos témoins </h3>
      <div>
        <% @proofs.each do |proof| %>
          <% if proof.testimony_id.blank? == false %>
            <div class="proofs_container">
              <div class="card-action">
                <div class="action_text">
                  <div class="text_name">
                    <%= proof.testimony.witness_name %>
                    <%= proof.testimony.witness_family_name %>
                  </div>
                  <div class="text_type">
                    <%= proof.content_type.split("/")[0] %>
                  </div>
                  <div class="text_filename">
                    <%= proof.original_filename %>
                  </div>
                </div>
                <div class="action_download">
                  <%= link_to "Télécharger", cl_image_path(proof.photo,:width=>200, :height=>250, :page=>1, :crop=>"fill"), target: "_blank", class: 'btn btn-success'%>
                </div>
                <div class="action_delete">
                  <%= link_to "Supprimer", incident_proof_path(@incident, proof), method: :delete, class: 'btn btn-danger' %>
                </div>
            </div>
          </div>
        <% end %>
      <% end  %>
      </div>
    <% end %>
  </div>
  <div class="d-inline-flex justify-content-center w-100">
    <div class="d-flex  p-3 mb-4">
        <%= link_to 'Mes témoignages', incident_testimonies_path(current_user.incident),class: 'button-primary' %>
    </div>
    <div class="d-flex  p-3 mb-4">
        <%= link_to 'Retour au dossier', incident_path(current_user.incident),class: 'button-primary' %>
    </div>
  </div>
</div>
