<div class="container">
  <div class="d-inline-flex">
    <p>Accueil > Dashboard > </p>
    <p class="font-weight-bold pl-1">Mes preuves</p>
  </div>
  <div>
  <h1>Ajout de preuves</h1>
  </div>
  <p>Uploadez ici vos photos, vidéos et fichiers audio</p>
  <%= simple_form_for [@incident, @proof] do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit class: "button-primary" %>
<% end %>
  <div class="manage_proofs">
    <h2>Gestion de vos médias preuves</h2>
    <% if @proofs.nil? %>
      <div class="proofs_container">
        <p>Uploadez un fichier pour compléter votre dossier </p>
      </div>
    <% else %>
      <div>
        <% @proofs.each do |proof| %>
          <div class="proofs_container">
            <div class="card"></div>
            <%= proof.content_type %>
            <%= proof.original_filename %>
            <%= link_to "Supprimer", incident_proof_path(@incident, proof), method: :delete, class: 'btn btn-danger' %>
          </div>
        <% end  %>
      </div>
    <% end %>
  </div>
</div>
