<div class="row header-banner">
  <div class="container my-3">
    <p><%= link_to "Accueil", root_path %> > <strong> Collecte de témoignages</strong></p>
    <h1>Témoignez pour un incident</h1>
  </div>
</div>
<div class="container mt-4">
  <p>Vous êtes invités à témoigner pour l'incident suivant</p>
  <div class="card-action-testimony">
    <div>
      <%= incident.description %>
    </div>
    <div>
      <%= incident.date %>
    </div>
    <div>
      <%= incident.address %>
    </div>
    <div>
      <%= incident.place_type %>
    </div>
  </div>
  <%= simple_form_for [incident, testimony] do |f| %>
    <div class="new_testimony_container">
      <h3>Renseignez vos informations</h3>
      <p>Vous pourrez être recontactés dans le cadre d'une procédure de dépôt de plainte.</p>
      <div class="new_testimony_contacts">
        <div class="new_testimony_input">
          <%= f.input :witness_name, label: 'Prénom'%>
        </div>
        <div class="new_testimony_input">
          <%= f.input :witness_family_name, label: 'Nom'%>
        </div>
        <div class="new_testimony_input">
          <%= f.input :witness_email, label: 'Email'%>
        </div>
      </div>
      <div class="new_testimony_contacts">
        <div>
          <%= f.input :witness_gdpr, label: 'Confirmez que vous souhaitez être recontactés'%>
        </div>
      </div>
    </div>
    <br>
    <div class="testimony_wrapper_header">
      <div class="content">
        <h3>Attestation de témoin </h3>
      </div>
      <div class="content">
      <h3>Ajoutez jusqu'à trois médias </h3>
      </div>
    </div>
    <div class="testimony_wrapper_upload">
        <%= f.simple_fields_for :proofs do |n| %>
          <div class="content">
            <% if n.index.zero? %>
              <div class="cerfa">
                <%= link_to "Téléchargez le formulaire cerfa", cl_image_path("cerfa_attestation_temoin",:width=>200, :height=>250, :page=>1, :crop=>"fill"), target: "_blank" %>
              </div>
            <% end %>
            <%= n.input :photo, as: :file, label: (n.index.zero? ? 'Votre pdf' : 'Votre fichier') %>
            <%= n.input :photo_cache, as: :hidden %>
          </div>
        <% end %>
    </div>
    <div class="new_testimony_container_btn">
      <div>
        <%= f.button :submit, 'Valider votre témoignage', class: "button-primary" %>
      </div>
    </div>
  <% end %>
</div>

















