<div class="row header-banner">
  <div class="container my-3 mb-3">
    <p><%= link_to "Accueil", root_path %> > <%= link_to "Mon dossier", incident_path(@incident) %> > <strong>Témoignages</strong></p>
    <h1>Collecte de témoignages</h1>
  </div>
</div>
<div class="container mt-5">
  <div class="manage_testimonies">
    <p>Partagez l'url de votre témoignage </p>
    <input type="text" value="<%= new_incident_testimony_url(@incident) %>" id="copy-testimony-url" class="w-50">
    <button class="copy-testimony-url-button">Copier URL</button>
  </div>
  <div class="manage_testimonies">
    <div class="mb-5 mt-5">
      <h3> Vos témoignages collectés </h3>
    </div>
        <% @testimonies.each do |testimony| %>
         <div class="card-action-witness">

              <div class="witness_identity">
                <%= testimony.witness_name %>
                <%= testimony.witness_family_name %>
              </div>
              <div class="witness_email">
                <%= testimony.witness_email %>
              </div>
              <div class="witness_count">
                <span>Total preuves collectées</span>
                <strong><%= testimony.proofs.count %></strong>
              </div>

          </div>
        <% end %>
  </div>
  <div class="d-inline-flex justify-content-center w-100">
    <div class="p-3 mb-4">
        <%= link_to 'Preuves récoltées', incident_proofs_path(current_user.incident),class: 'button-primary' %>
    </div>
    <div class="p-3 mb-4">
        <%= link_to 'Retour au dossier', incident_path(current_user.incident),class: 'button-primary' %>
    </div>
  </div>
</div>
