    <div class="preview-box-complaint ml-0 mb-0 mt-5">
      <div class="ml-3">
        <p class="h6 mt-3">
          <strong> <span class="user-first-name-preview">[Prénom]</span> <span class="user-last-name-preview">[Nom]</span></strong>
          <br>
          <span class="user-address-preview">[Adresse]</span>
          <br>
          <span class="user-zipcode-preview">[Code postal]</span> – <span class="user-city-preview">[Commune]</span>
          <br>
          <%= current_user.email %>
          <br>
          <span class="user-phone-preview">[Téléphone]</span>
        </p>
      </div>
      <div class="ml-3">
        <p class="h6 mt-3 text-right" id="email_establishment" value="email">
          <strong>Madame, Monsieur le procureur de la République</strong>
          <br>
          <span id="tribunal-name-preview"> [Nom du tribunal d'instance]</span>
          <br>
          <span id="tribunal-address-preview"> [Adresse du tribunal d'instance]</span>
          <br>
          <span id="tribunal-zipcode-preview">[Code Postal]</span> – <span id="tribunal-city-preview">[Commune]</span>
        </p>
      </div>
      <div class="ml-3">
        <p class="h6 mt-5 text-right"><span class="user-city-preview">[Commune]</span>, le <%= DateTime.now.to_date.strftime("%d/%m/%Y") %></p>
        <p class="h6 mt-5"><strong>Objet :</strong> Dépôt de plainte</p>
      </div>
      <div class="ml-3 mt-5">
        <p class="h6 mt-3">Madame, Monsieur le procureur de la République,
          <br>
          <br>
        J'ai l'honneur de vous informer des faits suivants : j'ai été
          <% if @incident.author_is_victim %>
            victime
          <% else %>
            témoin
          <% end %>
           d'une <%= @incident.incident_category.name.downcase %>
           en raison <% @incident.motives.each do |motive| %>
              <% if motive.name == "Genre" || motive.name == "Orientation sexuelle" || motive.name == "Statut sérologique" || motive.name == "Origine" %>
                de mon
              <% elsif motive.name == "Situation de handicap"%>
                ma
              <% else %>
                d'un motif inconnu
              <% end %>
              <%= motive.name.downcase %>;
            <% end %>
             cet incident a eu lieu le <%= @incident.date.strftime("%d/%m/%Y") %> à l'adresse suivante : <%= @incident.address %>.
            <br>
            <br>
            <% if @incident.description %>
              <%= @incident.description.capitalize %>
            <br>
            <br>
            <% end %>
           <% if @incident.offender %>
            En conséquence, je souhaite porter plainte contre <%= @incident.offender %> pour ces faits.
           <% else %>
            En conséquence, je souhaite porter plainte contre X pour ces faits.
           <% end %>
          <br>
          <br>
          <% unless @incident.testimonies.empty? %>
            Je vous précise qu'il y a un/des témoin(s) de ces faits :
            <ul>
              <% @incident.testimonies.each do |testimony| %>
               <li><%= testimony.witness_name %> <%= testimony.witness_family_name %> </li>
              <% end %>
            </ul>
          <% else %>
            Je vous précise ne pas disposer de témoin de ces faits.
          <% end %>
        <br>
        <br>
        Je vous remercie de considérer ce courrier comme un dépôt de plainte.
        <br>
        <br>
        <% unless @incident.proofs.empty? %>
          Documents de preuve : <%= @incident.get_content_type %>.
          <br>
          <br>
        <% end %>
        Dans l'attente des suites que vous donnerez à ce courrier, je vous prie d'agréer, Madame, Monsieur le procureur de la République, l'expression de ma plus haute considération.</p>
        <p><button type="submit" class="btn btn-primary mt-5">Télécharger le pdf</button></p>
        <%= link_to "DOWNLOAD PDF", report_complaint_incident_report_path(@incident, @report, format: :pdf) %>
      </div>
    </div>
