<div class="row header-banner">
  <div class="container my-3">
    <p><%= link_to "Accueil", root_path %> > <%= link_to "Mon dossier", incident_path(@incident) %> > <strong>Déposer plainte</strong></p>
    <h1>Déposer plainte</h1>
  </div>
</div>

<div class="container my-5">

<h2>Transmettre un courrier au procureur de la République</h2>

  <p>Ce service vous permet de rédiger le courrier de dépôt de plainte auprès du procureur de la République. <br>
  Le document est rédigé à partir des éléments qui constituent votre dossier. Une fois le courrier complété, vous pouvez le télécharger pour l'imprimer, le signer et l'envoyer au tribunal de votre domicile.
  <br>
  </p>

  <%= simple_form_for(@incident, html: { id: "personal-info"}, method: :patch, url: update_zipcode_incident_path, remote: true) do |f| %>
  <%= f.hidden_field :incident_id, value: @incident.id %>
    <div class="row">
      <div class="form-group col-4 my-2">
        <strong><label for="user-zipcode">Renseignez votre code postal</label></strong>
        <input name="incident[zipcode]" type="text" class="form-control" id="user-zipcode" autocomplete="none">
        <small id="zipcodeHelp" class="form-text text-muted">Le code postal est utilisé pour déterminer votre tribunal d'instance de référence.</small>
      </div>
      <div class="col-8 d-flex align-items-center mb-2">
        <%= button_tag(type: 'submit', class: 'button-secondary') do %>
          Trouver mon tribunal
        <% end %>
      </div>
    </div>
  <% end %>

  <span id="tribunal-info"></span>

<div class="mt-3">
  <strong>Renseignez vos informations personnelles</strong>
  <small class="form-text text-muted"> Elles seront utilisées par le procureur de la République pour vous recontacter </small>
  <%= simple_form_for(@report, method: :patch, url: update_complaint_report_incident_report_path, remote: true) do |f| %>
    <%= f.hidden_field :report_id, value: @report.id %>
  <div class="row">
      <div class="form-group col-6 mt-2">
        <label for="user-first-name">Prénom</label>
        <input type="text" class="form-control" id="user-first-name" autocomplete="none" name="report[sender_first_name]" value="<%= @report.sender_first_name %>">
      </div>
      <div class="form-group col-6 mt-2">
        <label for="user-last-name">Nom</label>
        <input type="text" class="form-control" id="user-last-name" autocomplete="none" name="report[sender_last_name]" value="<%= @report.sender_last_name %>">
      </div>
    </div>
    <div class="form-group">
      <label for="user-address">Adresse</label>
      <input type="text" class="form-control" id="user-address" autocomplete="none" name="report[sender_address]" value="<%= @report.sender_address %>">
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="user-city">Commune</label>
        <input type="text" class="form-control" id="user-city" autocomplete="none" name="report[sender_city]" value="<%= @report.sender_city %>">
      </div>
      <div class="form-group col-6">
        <label for="user-phone">Téléphone</label>
        <input type="text" class="form-control" id="user-phone" autocomplete="none" name="report[sender_phone_number]" value="<%= @report.sender_phone_number %>">
      </div>
    </div>
      <%= button_tag(type: 'submit', class: 'button-secondary mb-3 mt-2') do %>
      Enregistrer
    <% end %>
    <% end %>
</div>

<div class="container">
    <div class="preview-box-complaint ml-0 mb-0">
      <div class="ml-3">
        <p class="h6 mt-3">
          <strong> <span class="user-first-name-preview">
            <% unless @report.sender_first_name.nil? %>
              <%= @report.sender_first_name %>
            <% else %>
              [Prénom]
            <% end %>
          </span>
          <span class="user-last-name-preview">
            <% unless  @report.sender_last_name.nil? %>
              <%= @report.sender_last_name %>
              <% else %>
              [Nom]
            <% end %>
          </span></strong>
          <br>
          <span class="user-address-preview">
            <% unless @report.sender_address.nil? %>
              <%= @report.sender_address %>
            <% else %>
              [Adresse]
            <% end %>
            </span>
          <br>
          <span class="user-zipcode-preview">
            <% unless @incident.zipcode.nil? %>
              <%= @incident.zipcode %>
            <% else %>
                [Code postal]
            <% end %>
          </span> –
          <span class="user-city-preview">
            <% unless  @report.sender_city.nil? %>
              <%= @report.sender_city %>
              <% else %>
                [Commune]
            <% end %>
          </span>
          <br>
          <%= current_user.email %>
          <br>
          <span class="user-phone-preview">
            <% unless @report.sender_phone_number.nil?  %>
                <%= @report.sender_phone_number %>
              <% else %>
                [Téléphone]
            <% end %>
          </span>
        </p>
      </div>
      <div class="ml-3">
        <p class="h6 mt-3 text-right" id="email_establishment" value="email">
          <strong>Madame, Monsieur le procureur de la République</strong>
          <br>
          <span id="tribunal-name-preview">
            <% if @incident.tribunal_id.nil? %>
              [Nom du tribunal d'instance]
              <% else %>
              <%= @tribunal.name %>
            <% end %>
          </span>
          <br>
          <span id="tribunal-address-preview">
            <% if @incident.tribunal_id.nil? %>
              [Adresse du tribunal d'instance]
            <% else %>
              <%= @tribunal.address %>
            <% end %>
          </span>
          <br>
          <span id="tribunal-zipcode-preview">
            <% if  @incident.tribunal_id.nil? %>
              [Code Postal]
            <% else %>
              <%= @tribunal.zipcode %>
            <% end %>
          </span> –
          <span id="tribunal-city-preview">
            <% if @incident.tribunal_id.nil? %>
              [Commune]
            <% else %>
                <%= @tribunal.city %>
            <% end %>
          </span>
        </p>
      </div>
      <div class="ml-3">
        <p class="h6 mt-5 text-right">
        <span class="user-city-preview">
          <% unless  @report.sender_city.nil? %>
            <%= @report.sender_city %>
          <% else %>
              [Commune]
          <% end %>
      </span>, le <%= DateTime.now.to_date.strftime("%d/%m/%Y") %></p>
        <p class="h6 mt-5"><strong>Objet :</strong> Dépôt de plainte</p>
      </div>
      <div class="ml-3 mt-5">
        <p class="h6 mt-3">Madame, Monsieur le procureur de la République,
          <br>
          <br>
        J'ai l'honneur de vous informer des faits suivants : j'ai été
          <% if @incident.author_is_victim %>
            victime
          <% else %>
            témoin
          <% end %>
           d'une <%= @incident.incident_category.name.downcase %>
           en raison <% @incident.motives.each do |motive| %>
              <% if motive.name == "Genre" || motive.name == "Orientation sexuelle" || motive.name == "Statut sérologique" || motive.name == "Origine" %>
                de mon
              <% elsif motive.name == "Situation de handicap"%>
                ma
              <% else %>
                d'un motif inconnu
              <% end %>
              <%= motive.name.downcase %>;
            <% end %>
             cet incident a eu lieu le <%= @incident.date.strftime("%d/%m/%Y") %> à l'adresse suivante : <%= @incident.address %>.
            <br>
            <br>
            <% if @incident.description %>
              <%= @incident.description.capitalize %>
            <br>
            <br>
            <% end %>
           <% if @incident.offender %>
            En conséquence, je souhaite porter plainte contre <%= @incident.offender %> pour ces faits.
           <% else %>
            En conséquence, je souhaite porter plainte contre X pour ces faits.
           <% end %>
          <br>
          <br>
          <% unless @incident.testimonies.empty? %>
            Je vous précise qu'il y a un/des témoin(s) de ces faits :
            <ul>
              <% @incident.testimonies.each do |testimony| %>
               <li><%= testimony.witness_name %> <%= testimony.witness_family_name %> </li>
              <% end %>
            </ul>
          <% else %>
            Je vous précise ne pas disposer de témoin de ces faits.
          <% end %>
        <br>
        Je vous remercie de considérer ce courrier comme un dépôt de plainte.
        <br>
        <br>
        <% unless @incident.proofs.empty? %>
          Documents de preuve : <%= @incident.get_content_type %>.
          <br>
          <br>
        <% end %>
        Dans l'attente des suites que vous donnerez à ce courrier, je vous prie d'agréer, Madame, Monsieur le procureur de la République, l'expression de ma plus haute considération.</p>
        <br>
        <%= link_to "Télécharger le PDF", download_complaint_pdf_incident_report_path(@incident, @report), class: "btn btn-primary mt-2 mb-2"%>
      </div>
    </div>
    <div class="d-flex justify-content-center p-3 mb-4">
        <%= link_to 'Retour au dossier', incident_path(current_user.incident),class: 'button-primary' %>
    </div>

</div>
