<div class="row header-banner">
  <div class="container my-3">
    <p><%= link_to "Accueil", root_path %> > <%= link_to "Mon dossier", incident_path(@incident) %> > <strong>Transmettre mon dossier</strong></p>
    <h1>Transmettre mon dossier</h1>
  </div>
</div>

<div class="container mt-5 pb-3">
  <h3 class="mb-5">Transmettre un rapport à l’établissement de mon choix</h3>
  <p class="h6 mb-3">A qui souhaitez vous transmettre ce courrier ?</p>

<%= simple_form_for(@report, method: :patch, url: update_report_incident_report_path) do |f| %>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-4 col-form-label">Merci de préciser son adresse email :</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="" name="report[recipient_email]">
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary mb-2" id="validate-button">Valider</button>
    </div>
  </div>

<% end %>


  <div class="preview-box ml-0 mb-0">
    <div class="ml-3">
      <p class="h6 mt-3"><strong>From :</strong> noreply@breakfree.com</p>
    </div>
    <div class="ml-3">
      <p class="h6 mt-3" id="email_establishment" value="email"><strong>To : </strong><span>email de établissement</span></p>
    </div>
    <hr>
    <div class="ml-3">
      <p class="h6 mt-5"><strong>Objet :</strong> Un incident a été signalé dans votre structure </p>
      <br>
    </div>
    <div class="ml-3">
      <%= render 'report_email' %>
      <div class="d-flex justify-content-center p-3 mb-4">
          <%= link_to "Envoyer l'email", send_anonymous_report_incident_report_path ,class: 'button-primary' %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center p-3 mb-4">
      <%= link_to 'Retour au dossier', incident_path(current_user.incident),class: 'button-primary' %>
  </div>
</div>
