<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="<%= meta_description %>">
    <meta name="title" content="<%= meta_title %>">
    <meta name="author" content="Equipe breakfree - Etudiants du batch 290 Le Wagon Paris">

    <meta property="og:title" content="breakfree" />
    <meta property="og:description" content="Signaler une agression ou une situation de harcèlement de manière anonyme" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.breakfree.fr"/>
    <meta property="og:image" content="https://res.cloudinary.com/dg8fxmpur/image/upload/v1567594044/lighthouse_mtaqbk.png" />
    <title>Break Free</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet' />‡
    <%= favicon_link_tag asset_path('favicon.png')%>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="content-page">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <%= render 'shared/footer' %>

  </body>
</html>
